pipeline/pl_master_load.json
{
	"name": "pl_master_load",
	"properties": {
		"activities": [
			{
				"name": "raw_Layer",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_sourceToAdlsGen2_Landing-Zone_Master",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "GetPreintigration",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "raw_Layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  * FROM [dbo].[notebookExecutionConfig]  ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "notebookExecutionConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Run_PreIntigration_Parellel_NB",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetPreintigration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetPreintigration').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Pre Intigration Notebook",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": {
										"value": "@item().notebook_name",
										"type": "Expression"
									},
									"type": "NotebookReference"
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "newpool",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Large",
								"conf": {
									"spark.dynamicAllocation.enabled": true
								},
								"driverSize": "Large"
							}
						},
						{
							"name": "PreIntigration_Parellel_Error",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Pre Intigration Notebook",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Var_PreIntigration",
								"value": {
									"value": "@concat(\n'item: ',\nstring(item()),\n' - Error: ',\ncoalesce(activity('GetPreintigration')?.error?.message,'No error message')\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Fail_PreIntigration",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "PreIntigration_Parellel_Error",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "PipeLineFailed-PreIntigration",
								"errorCode": "400"
							}
						}
					]
				}
			},
			{
				"name": "Get List Of Stage Tables",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Run_PreIntigration_Parellel_NB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  * FROM [dbo].[MergeConfig] where Active =1 and islink_Table = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "MergeConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "STAGE TABLE CREATION",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get List Of Stage Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List Of Stage Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_azure_SQL_DB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@item().SourceTableDDL",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Script1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varerror_stg",
								"value": {
									"value": "@concat('item: ',string(item()),' - Error: ',activity('Script1').error.message)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "PipelineFailed",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "PiplineFailed",
								"errorCode": "400"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Var_PreIntigration": {
				"type": "String"
			},
			"varerror_stg": {
				"type": "String"
			}
		},
		"annotations": []
	}
}