pipeline/pl_sourceToAdlsGen2_Landing-Zone.json
{
	"name": "pl_sourceToAdlsGen2_Landing-Zone",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n    SourceSchemaName,\n    SourceTableName,\n    ISNULL(SourceQuery,'') +\n    ISNULL(\n        CASE \n            WHEN WatermarkDataType = 'DATETIME'\n                THEN ISNULL(LastWatermarkValue,'01/01/1900')\n            WHEN WatermarkDataType = 'INT'\n                THEN ISNULL(LastWatermarkValue,'0')\n            ELSE ISNULL(LastWatermarkValue,'')\n        END,''\n    ) AS SourceQuery,\n    SourceName,\n    SourceServer,\n    SourceDatabaseName,\n    SourceDBUserName\nFROM IncrementalLoadMetadata\nWHERE IsActive = 'True';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "IncrementalLoadMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output,value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Dynamic_copy_allTables",
									"type": "DatasetReference",
									"parameters": {
										"SourceServer": {
											"value": "@item().SourceServer",
											"type": "Expression"
										},
										"SourceDataBaseName": {
											"value": "@item().SourceDatabaseName",
											"type": "Expression"
										},
										"SourceDBUserName": {
											"value": "@item().SourceDBUserName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Parquet1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}