pipeline/pl_sourceToAdlsGen2_Landing-Zone_Master.json
{
	"name": "pl_sourceToAdlsGen2_Landing-Zone_Master",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \r\n    SourceSchemaName,\r\n    SourceTableName,\r\n    ISNULL(SourceQuery,'') +\r\n    '''' +\r\n    ISNULL(\r\n        CASE \r\n            WHEN WatermarkDataType = 'DATETIME'\r\n                THEN ISNULL(NULLIF(LastWatermarkValue,'NULL'),'01/01/1900')\r\n\r\n            WHEN WatermarkDataType = 'INT'\r\n                THEN ISNULL(NULLIF(LastWatermarkValue,'NULL'),\r\n                     UPPER(LEFT(WatermarkColumnName,1)) + '0')\r\n\r\n            ELSE ISNULL(NULLIF(LastWatermarkValue,'NULL'),'')\r\n        END,''\r\n    )\r\n    + '''' AS SourceQuery,\r\n    SourceName,\r\n    SourceServer,\r\n    SourceDatabaseName,\r\n    SourceDBUserName\r\nFROM IncrementalLoadMetadata\r\nWHERE IsActive = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "IncrementalLoadMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"description": "LoadingData",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Dynamic_copy_allTables",
									"type": "DatasetReference",
									"parameters": {
										"SourceServer": {
											"value": "@item().SourceServer",
											"type": "Expression"
										},
										"SourceDataBaseName": {
											"value": "@item().SourceDatabaseName",
											"type": "Expression"
										},
										"SourceDBUserName": {
											"value": "@item().SourceDBUserName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat('staging/',item().SourceName,'/tempjson/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().SourceTableName,'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Max Date",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n(SELECT 'F' + CAST(MAX(CAST(SUBSTRING(flight_id,2,LEN(flight_id)) AS INT)) AS VARCHAR)\r\n FROM dbo.flights_raw) AS Maxflights_id,\r\n\r\n(SELECT 'B' + CAST(MAX(CAST(SUBSTRING(booking_id,2,LEN(booking_id)) AS INT)) AS VARCHAR)\r\n FROM dbo.bookings_raw) AS Maxbooking_id;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Dynamic_copy_allTables2",
						"type": "DatasetReference",
						"parameters": {
							"SourceServer": "DESKTOP-P24AOKF\\SQLEXPRESS01",
							"SourceDataBaseName": "db_flight_march_03_2026",
							"SourceDBUserName": "ChandanS"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ConvetJsonToParquet",
				"type": "SynapseNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Max Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ConvetJsonToParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azure_SQL_DB",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE [dbo].[IncrementalLoadMetadata] set LastWatermarkValue='@{activity('Get Max Date').output.firstRow.Maxflights_id}'\nwhere [SourceName] = 'OnPremSQLServer' and SourceTableName = 'flights_raw';\n\nUPDATE [dbo].[IncrementalLoadMetadata] set LastWatermarkValue='@{activity('Get Max Date').output.firstRow.Maxbooking_id}'\nwhere [SourceName] = 'OnPremSQLServer' and SourceTableName = 'bookings_raw';",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "ls_AdlGen2",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "*.json",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Max Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "staging/OnPremSQLServer/tempjson",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Json_converting",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Parquet_covnerting",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}