pipeline/pl_sourceToAdlsGen2_Landing-Zone.json
{
	"name": "pl_sourceToAdlsGen2_Landing-Zone",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n    SourceSchemaName,\n    SourceTableName,\n    ISNULL(SourceQuery,'') +\n    ISNULL(\n        CASE \n            WHEN WatermarkDataType = 'DATETIME'\n                THEN ISNULL(LastWatermarkValue,'01/01/1900')\n            WHEN WatermarkDataType = 'INT'\n                THEN ISNULL(LastWatermarkValue,'0')\n            ELSE ISNULL(LastWatermarkValue,'')\n        END,''\n    ) AS SourceQuery,\n    SourceName,\n    SourceServer,\n    SourceDatabaseName,\n    SourceDBUserName\nFROM IncrementalLoadMetadata\nWHERE IsActive = 'False';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "IncrementalLoadMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoadDataToLanding",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Dynamic_copy_allTables",
									"type": "DatasetReference",
									"parameters": {
										"SourceServer": {
											"value": "@item().SourceServer",
											"type": "Expression"
										},
										"SourceDataBaseName": {
											"value": "@item().SourceDatabaseName",
											"type": "Expression"
										},
										"SourceDBUserName": {
											"value": "@item().SourceDBUserName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat('staging/',item().SourceName,'/tempjson/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().SourceTableName,'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LoadDataToLanding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n(SELECT MAX(CAST(SUBSTRING(flight_id,2,LEN(flight_id)) AS INT)) \r\n FROM dbo.flights_raw) AS Maxflights_raw,\r\n\r\n(SELECT MAX(CAST(SUBSTRING(booking_id,2,LEN(booking_id)) AS INT)) \r\n FROM dbo.bookings_raw) AS Maxbooking_raw;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Dynamic_copy_allTables",
						"type": "DatasetReference",
						"parameters": {
							"SourceServer": "DESKTOP-P24AOKF\\SQLEXPRESS01",
							"SourceDataBaseName": "db_flight_march_03_2026",
							"SourceDBUserName": "ChandanS"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Notebook1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "ConverstingJsonToParquet",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			}
		],
		"annotations": []
	}
}