pipeline/pl_sourceToAdlsGen2_Landing-Zone_Master.json
{
	"name": "pl_sourceToAdlsGen2_Landing-Zone_Master",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \r\n    SourceSchemaName,\r\n    SourceTableName,\r\n    ISNULL(SourceQuery,'') +\r\n    '''' +\r\n    ISNULL(\r\n        CASE \r\n            WHEN WatermarkDataType = 'DATETIME'\r\n                THEN ISNULL(NULLIF(LastWatermarkValue,'NULL'),'01/01/1900')\r\n\r\n            WHEN WatermarkDataType = 'INT'\r\n                THEN ISNULL(NULLIF(LastWatermarkValue,'NULL'),\r\n                     UPPER(LEFT(WatermarkColumnName,1)) + '0')\r\n\r\n            ELSE ISNULL(NULLIF(LastWatermarkValue,'NULL'),'')\r\n        END,''\r\n    )\r\n    + '''' AS SourceQuery,\r\n    SourceName,\r\n    SourceServer,\r\n    SourceDatabaseName,\r\n    SourceDBUserName\r\nFROM IncrementalLoadMetadata\r\nWHERE IsActive = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "IncrementalLoadMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().SourceQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Dynamic_copy_allTables",
									"type": "DatasetReference",
									"parameters": {
										"SourceServer": {
											"value": "@item().SourceServer",
											"type": "Expression"
										},
										"SourceDataBaseName": {
											"value": "@item().SourceDatabaseName",
											"type": "Expression"
										},
										"SourceDBUserName": {
											"value": "@item().SourceDBUserName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat('staging/',item().SourceName,'/tempjson/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().SourceTableName,'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}